/*
 * @Overview weather detail section css
 * @History  2025-05-31 / 윤정서 / 최초작성 
*/

.wrap.weather-detail-wrap {
  border: 1px solid plum;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0bbff5;

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p {
    padding: 0;
    margin: 0;
  }


  
  /* WEATHER DETAIL CONTAINER */
  .dwthr-cont {
    background-color: #FFFFFF99;
    width: 82%;
    max-width: 1574px;
    padding: 35px 22px 60px;


    /* DEATIL TITLE */
    .dwthr-tit {
      color: #045A9B;
      padding-bottom: 32px;
      border-bottom: 1px solid #1293C4;
      
      .tit-loca {
        font-size: 1.5rem;
      }

      .tit-addr {
        font-size: 1.125rem;
        margin-top: 20px;
      }

    }
    /* DEATIL TITLE // */


    /* DETAIL BOX */
    .dwther-box {
      background-color: lightgoldenrodyellow;
      width: 100%;
      display: flex;
      gap: 10px;
      margin-top: 38px;


      /* DETAIL WEATHER INFO BOX  */
      .dwthr-info-box {
        width: 214px;
        height: 335px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        border-radius: 5px;
        background-color: #FFFFFFBA;
        padding: 30px;
        color: #045A9B;
        font-size: 1.25rem;
        line-height: 2;
        text-align: left;


        /* INFO HEADER */
        /* .dwthr-info-header {} */

        /* INFO BODY */
        /* .dwthr-info-body {} */

        /* INFO FOOTER */
        /* .dwthr-info-footer {} */

      }


      /* WEATHER FIELD */
      .dwthr-field {
        background-color: #83BEDC78;
        width: 100%;
        display: flex;
        gap: 22px;

        /* FIELD TITLE */
        .dwthr-field-tit {
          border: 1px solid red;
          background-color: #0088C336;
          padding: 10px 0;
          color: #045A9B;
          font-size: 1.125rem;
        }

        /* F TITLE */
        .f-tit {
          padding: 18px 26px;
          white-space: nowrap;
        }


        /* FIELD BOX */
        .dwthr-field-box {
          padding: 10px 0 0;
          border: 1px solid #fff;
          width: 100%;
        }


        /* INNER */
        .field-box-inner {
          background-color: pink;
          width: 100%;
          height: 100%;
          display: flex;
          padding-bottom: 10px;
          overflow: auto;
        }


        /* WEATEHR LINE */
        .wthr-line {
          border: 1px solid blue;
          width: 100%;
          height: 100%;
          min-width: 90px;
          display: flex;
          flex-direction: column;
          border-radius: 5px;
        }


        /* WEATHER LINE ITEM */
        .wthr-line-item {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          white-space: nowrap;
        }


      }


    }
    /* DETAIL BOX // */

  }

}